.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.showcase {
    height: 325px;
}

.showcase .container h1 {
    font-size: 60px;
}

.sponsors img {    
    filter: grayscale(100%);   
}

.box {
    transition: .3s;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* tablets */
@media(max-width: 768px) {

}

/* mobile */
@media(max-width: 500px) {
    .showcase .container h1 {
        font-size: 50px;
    }

    .pricing .changesize {
        width: 400px;
    }
}